/* 
    Document   : dygram.css
    Created on : 20-Oct-2012, 16:11:24
    Author     : Aleksandar Milenovic
    Description:
        Define styles for Dygram instances.
*/

.tab-content {
    overflow:visible
}

#input-graph {
    width: 480px;
    height: 200px;
}

.dyg-flow-style {
    color: green;
}

#dyg-flow-info {
    color: darkgreen;
}

.dyg-tab-pane {
    height: 150px;
    overflow: auto;
}
