<nav class="navbar navbar-default" role="navigation">        
     <div class="navbar-header">
         <div class="navbar-brand">
               <span class="glyphicon glyphicon-folder-open dyg-flow-style"></span>
         </div>
     </div>
    <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav" id="dyg{0}-tab">
             <li><a href="#dyg{0}-home-tab" data-toggle="tab" id="dyg{0}-title">Home</a></li>
             <li><a href="#dyg{0}-flow-tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-random dyg-flow-style"></span> Flows
                 </a>
             </li>
             <li><a href="#dyg{0}-sel-tab" data-toggle="tab">
                     <span class="glyphicon glyphicon-hand-up dyg-flow-style"></span> Selection
                 </a>
             </li>
         </ul>                          
     </div>
     <div class="tab-content">
         <div class="tab-pane dyg-tab-pane" id="dyg{0}-home-tab">
             <p class="navbar-text" id="dyg{0}-desc">Description</p>
         </div>     

         <div class="tab-pane dyg-tab-pane" id="dyg{0}-flow-tab">
             <table class="navbar-text">
                 <tr>
                     <td>
                        <div class="btn-group">
                           <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               Select Flow
                               <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu" id="dyg{0}-sel-flow-list"></ul>
                        </div> 
                     </td>
                     <td>
                        <p class="navbar-text" id="dyg{0}-flow-title"></p>
                        <p class="navbar-text" id="dyg{0}-flow-info"></p>                                              
                     </td>
                 </tr>
                 <tr>
                     <td>
                        <div class="btn-group">
                            <button class="btn navbar-btn" id="dyg{0}-start">
                               <span class="glyphicon glyphicon-play dyg-flow-style"></span> Start
                            </button>
                            <button class="btn navbar-btn" id="dyg{0}-next">
                               <span class="glyphicon glyphicon-chevron-right dyg-flow-style"></span> Next
                            </button>
                            <button class="btn navbar-btn" id="dyg{0}-prev">
                               <span class="glyphicon glyphicon-chevron-left dyg-flow-style"></span> Previous
                            </button>
                            <button class="btn navbar-btn" id="dyg{0}-stop">
                               <span class="glyphicon glyphicon-stop dyg-flow-style"></span> Stop
                            </button>
                        </div>  
                     </td>
                     <td>
                        <p class="navbar-text" id="dyg{0}-flow-steps"></p>
                        <p class="navbar-text" id="dyg{0}-flow-step-info"></p>
                     </td>
                 </tr>
             </table>
         </div>

         <div class="tab-pane dyg-tab-pane" id="dyg{0}-sel-tab">
             <div class="dyg{0}-sel-overview">
                 <table class="navbar-text">
                 <tr>
                     <td>
                        <h4 id="dyg{0}-sel-info">Select an entity to see its description and properties.</h4>
                     </td>
                     <td>
                        <div class="btn-group">
                           <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                               Actions
                               <span class="caret"></span>
                           </a>
                           <ul class="dropdown-menu" id="dyg{0}-sel-actions"></ul>
                        </div>                                                             
                     </td>
                 </tr>
                 <tr>
                     <td>
                        <p id="dyg{0}-sel-desc"></p>                         
                     </td>
                     <td>
                        <table class="table table-condense" id="dyg{0}-sel-prop-list"></table>                         
                     </td>
                 </tr>
             </table>  
           </div>                     
         </div>
     </div>                      
</nav>  